package ${base_package}.controllers;

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import ${base_package}.dtos.settings.*;
import ${base_package}.services.ProjectSettingsService;

import javax.servlet.http.HttpServletRequest;
import javax.validation.Valid;
import java.util.List;
import java.util.Optional;

@RestController
public class ProjectSettingsController {

    private static final Logger logger = LoggerFactory.getLogger(ProjectSettingsController.class);

    @Autowired
    ProjectSettingsService service;

#foreach($setting in $setting_defs)
    /* ${setting.setting_name_lower_case} api starts */
    @PostMapping("v1/settings/${setting.setting_name_lower_case}")
    public void create${setting.setting_name_camel_case_first_upper}(@RequestBody @Valid ${setting.setting_name_camel_case_first_upper}SettingsRequestDto dto) {
        service.create${setting.setting_name_camel_case_first_upper}(dto);
    }

    @GetMapping("v1/settings/list-all-${setting.setting_name_lower_case}/{projectId}")
    public List<${setting.setting_name_camel_case_first_upper}SettingsResponseDto> listAll${setting.setting_name_camel_case_first_upper}(@PathVariable("projectId")  String projectId) {
        return service.listAll${setting.setting_name_camel_case_first_upper}(projectId);
    }

    @GetMapping("v1/settings/${setting.setting_name_lower_case}/{projectId}/{settingId}")
    public ${setting.setting_name_camel_case_first_upper}SettingsResponseDto get${setting.setting_name_camel_case_first_upper}(@PathVariable String settingId, @PathVariable String projectId) {
        return service.get${setting.setting_name_camel_case_first_upper}(projectId, settingId);
    }

    @DeleteMapping("v1/settings/${setting.setting_name_lower_case}/{projectId}/{settingId}")
    public void delete${setting.setting_name_camel_case_first_upper}(@PathVariable String settingId, @PathVariable String projectId) {
        service.delete${setting.setting_name_camel_case_first_upper}(projectId, settingId);
    }
    /* ${setting.setting_name_lower_case} api ends */
#end
}
