package ${base_package}.dtos.settings;

import lombok.Data;

import java.util.Date;

@Data
public class ${setting_name_camel_case_first_upper}SettingsDto {

    private String projectId;
    private String settingId;
    private String displayName;
    private Date createdOn;
    private String createdBy;
    private Date lastUpdatedOn;
    private String lastUpdatedBy;

#foreach($field in $setting_field_defs)
    private ${field.data_type} ${field.name};
#end
}
